body {
  background-color: #8ed7e0;
  font-family: "Anonymous Pro", monospace;
  color: #262985;
  font-size: 20px;
}
.wrapper {
  margin: 20px auto;
  padding-top: 40px;
  background-color: white;
  border-radius: 10px;
  width: 1200px;
}
.main {
  margin-bottom: 50px;
}

h3 {
  text-align: center;
}
.main__day-time {
  text-align: center;
}
.main__details {
  text-align: center;
  margin-top: 25px;
}
.handwriting {
  font-family: "Architects Daughter", cursive;
  color: #ed4675;
}
.handwriting_city {
  text-transform: uppercase;
}
.main__city {
  font-size: 50px;
}

.cloud_big {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  width: 350px;
  height: 120px;
  padding-left: 65px;
  padding-top: 10px;
  background-color: #ff695e;

  box-shadow: 10px 10px #f04a3f;

  border-radius: 100px;
}

.cloud_big:before,
.cloud_big:after {
  content: " ";
  position: absolute;
  z-index: -1;

  background-color: #ff695e;
  border-radius: 100px;
}
.cloud_big:before {
  top: -70px;
  left: 130px;
  width: 180px;
  height: 180px;
}
.cloud_big:after {
  z-index: -1;
  top: -40px;
  left: 65px;
  width: 100px;
  height: 100px;
}

h1 {
  display: inline;
  font-family: "Luckiest Guy", cursive;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 0 #f04a3f;
}
#convert-temp {
  position: absolute;
  top: -50px;
  left: 190px;
  font-family: "Luckiest Guy", cursive;
  color: white;
  text-decoration: none;
  font-size: 25px;

  border-radius: 100px;
  padding: 10px;
}
#convert-temp:hover {
  background-color: #f04a3f;
}

.main__img img {
  width: 500px;
  color: white;
}

.cloud_small {
  position: relative;
  z-index: 1;
  margin-right: 20px;

  width: 200px;
  height: 70px;

  padding-top: 4px;
  background-color: #fcd4b0;

  box-shadow: 4px 4px #edac62;

  border-radius: 100px;
  color: white;
  text-shadow: 1px 1px 0 #edac62;
}
.cloud_small:before,
.cloud_small:after {
  content: " ";
  position: absolute;
  z-index: -1;

  background-color: #fcd4b0;
  border-radius: 100px;
}
.cloud_small:before {
  top: -45px;
  left: 90px;
  width: 100px;
  height: 100px;
}
.cloud_small:after {
  z-index: -1;
  top: -30px;
  left: 40px;
  width: 60px;
  height: 60px;
}
.cloud_small:nth-child(1) {
  margin-left: 20px;
}
.handwriting_small {
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}
.forecast__weather {
  text-align: center;
}
.temp {
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
}
.search {
  background: url("img/landscape.jpg") center center/cover no-repeat;
  height: 300px;
}
.search form {
  padding-top: 250px;
}

#search-input {
  width: 360px;
  border-radius: 4px;
  border: 1px solid #1253a3;
  padding-left: 10px;
}
.submit__btn,
#current-btn {
  border-radius: 6px;
  border: 1px solid #f04a3f;
  text-shadow: 0.5px 0.5px 0 #f04a3f;
  background-color: #ff695e;
  padding: 1px 6px;
  color: white;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
.submit__btn:hover,
#current-btn:hover {
  background-color: #f04a3f;
}

#current-btn {
  margin-top: 250px;
}
.credits {
  background-color: #1253a3;
}

.credits__link {
  text-align: center;
  color: white;
}
.credits__link a {
  color: #f04a3f;
}
